/* Chat 전용 캘린더 스타일 */

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--today {
  background: transparent !important;
  color: inherit !important;
}

.iphone-calendar {
  border-radius: 20px;
  padding: 15px;
  box-sizing: content-box;
}

.iphone-calendar .react-datepicker__header {
  background: transparent;
  border: none;
}

.iphone-calendar .react-datepicker__current-month {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-90);
  margin-bottom: 10px;
}

.iphone-calendar .react-datepicker__day-names,
.iphone-calendar .react-datepicker__month,
.iphone-calendar .react-datepicker__week {
  margin: 0;
}

.iphone-calendar .react-datepicker__day-name,
.iphone-calendar .react-datepicker__day {
  width: 12vw;
  height: 12vw;
  line-height: 12vw;
  font-size: 16px;
  border-radius: 50%;
  margin: 0;
}

.iphone-calendar .react-datepicker__day--outside-month {
  color: var(--gray-20);
}

.iphone-calendar .custom-selected-day {
  background: var(--design-text) !important;
  color: var(--white) !important;
  font-weight: 600 !important;
}

.iphone-calendar .react-datepicker__navigation {
  top: 17px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: none;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 400px) {
  .iphone-calendar .react-datepicker__day-name,
  .iphone-calendar .react-datepicker__day {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
