@import "tailwindcss";

/* react-datepicker 기본 스타일 제거 */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--today {
  background: transparent !important;
  color: inherit !important;
}

/* 아이폰 스타일 캘린더 */
.iphone-calendar {
  border-radius: 20px;
  padding: 20px;
}

/* 캘린더 헤더 */
.iphone-calendar .react-datepicker__header {
  background: transparent;
  border: none;
}

/* 현재 년도와 달 */
.iphone-calendar .react-datepicker__current-month {
  font-size: 18px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 10px;
}

/* 여백 제거 */
.iphone-calendar .react-datepicker__day-names,
.iphone-calendar .react-datepicker__month,
.iphone-calendar .react-datepicker__week {
  margin: 0;
}

/* 요일 */
.iphone-calendar .react-datepicker__day-name {
  color: #8e8e93;
  font-size: 14px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0;
}

/* 날짜 */
.iphone-calendar .react-datepicker__day {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  font-size: 16px;
  color: #4c4c53;
  border-radius: 50%;
}

/* 이번 달이 아닌 날짜 */
.iphone-calendar .react-datepicker__day--outside-month {
  color: #c7c7cc;
}

/* 커스텀 선택된 날짜 */
.iphone-calendar .custom-selected-day {
  background: rgb(255, 150, 74) !important;
  color: #ffffff !important;
  font-weight: 600 !important;
}

/* 월 이동 버튼 */
.iphone-calendar .react-datepicker__navigation {
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: none;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 모바일 버전 날짜  */
@media (max-width: 768px) {
  .iphone-calendar .react-datepicker__day {
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
  }

  /* 모바일 버전 요일*/
  .iphone-calendar .react-datepicker__day-name {
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
  }
}
